*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  font-size: 7.5vmin;
}
#game-board {
  --grid-size: 4;
  --cell-size: 20vmin;
  --cell-gap: 2vmin;
  display: grid;
  padding: 1.5vmin;
  border-radius: 1vmin;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #cccccc;
  gap: var(--cell-gap);
}
.cell {
  background-color: #aaa;
  border-radius: 1vmin;
}
